@import "./index.css";

.form {
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  height: 400px;
  margin: 50px;

  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.form h1 {
  color: var(--main-bg-color);
  font-weight: 2000;
}
.curva {
  z-index: -1;
  position: absolute;
  opacity: 0.5;
  width: 30%;
  transform: translate(-80%, -50%);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 400px;
  margin: 18px;
  border: 10px solid var(--secondary-bg-color);
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
form {
  width: 80%;
}

.form input {
  display: block;
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  color: var(--main-bg-color);
}

.form input:focus {
  outline: none;
  border: 2px solid var(--main-text-color);
  box-shadow: var(--box-shadow-golden);
  transition: all 0.5s;
}

.form textarea {
  width: 100%;
  height: 100px;
  padding: 15px;
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  resize: none;
}

.form textarea:focus {
  outline: none;
  border: 2px solid var(--main-text-color);
  box-shadow: var(--box-shadow-golden);
  transition: all 0.5s;
}

.form input[type="submit"] {
  background-color: var(--main-text-color);
  width: 50%;
  margin: 10px auto 10px auto;
}

.form input[type="submit"]:hover {
  cursor: pointer;
}

.icono {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.icono i {
  color: var(--main-text-color);
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--secondary-bg-color);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  font-size: 350px;
}

/* Media Queries */

@media screen and (max-width: 800px) {

  .meroTop{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
  }
  .form {
    display: flex;
    
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .form-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .form {
    width: 90%;
  }

  .form input,
  .form textarea {
    width: 90%;
  }

  .icono {
    display: none;
  }
}
